<h3>My Products</h3>
<h4>Available Models</h4>
<div *ngFor="let i of products">
  Model {{ i.id }} : <a [title]="i.name + 'model'">{{ i.name }}</a
  ><br />
  <h5 *ngIf="i.description">Description:{{ i.description }}</h5>

  <button type="button" (click)="AddCart()">Add Cart</button>&nbsp;
  <button type="button" (click)="price()">Check Price</button>
</div>
<br />
<button type="button" (click)="ViewCart()">View Cart</button>&nbsp;
<button type="button" (click)="buy()">Buy Now</button>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
